@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


// COLORS

$color-primary: #D9F409;
$color-secondary: #000000;
$color-tertiary: #A3A3A3;
$color-alert: #FD18A8;
$white: #fff;

// TYPOGRAPHY

@mixin pageHeader {
    font-family: 'Pacifico', cursive;
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 2.75rem;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin ButtonText {
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.125rem;
}